@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

body {
	font-family: Open Sans, sans-serif;
	font-weight: 400;
	background-color: white;
	margin: 0;
}

.responsive-media {
	width: 100%;
	max-width: 100%;
}

header {
	background-color: #c8c8c7;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
	padding-top: 20px;
	padding-bottom: 20px;
	text-decoration: none;
}

header .container {
	position: relative;
}

nav{
text-align: right;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 1.25em;
	letter-spacing: auto;
	font-weight: 300;
	/*width: 25%;*/
	display: inline-block;
	text-align: right;
	padding: 60px 0 0 35px;
}

nav a:first-child {
	padding: 60px 0 0 0;
}

nav a:hover {
	color: red;
	text-decoration: none;
}


/*/////// SOCIAL ////////*/

#social {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 1;
  font-size: 1em;
}

.fa {
	font-size: 1.2em;
	letter-spacing: .5em;
	color: #808080;
}

.fa:hover {
color: #A0A0A0;
font-size: 1.3em;
}


/*////////// MAIN //////////*/

#main {
	margin-top: 160px;
	font-family: Droid Serif;
	font-size: 2.5em;
	padding-top: 20px;
	padding-bottom: 30px;
	image-width: 10%;
	line-height: 40px;
	color: #e6001e;
}

#bullets {
	font-family: Open Sans;
	font-size: .7em;
	color: #808080;

}

#contact {
	margin-top: 100px;
	padding-top: 60px;
	font-family: Open Sans; 
	font-size: 1em;
	font-weight: normal;
}

h1, h2, h3, h4 {
	font-family: Open Sans;
	font-weight: 300;
	font-size: 1.7em;
	text-transform: uppercase;
}

/*////////// FOOTER //////////*/

footer {
	margin: none;
  font-size: 0.8em;
  line-height: 20px;
  padding: 10px;
  padding-top: 30px;
  background: #eee;
  width: 100%;
  padding-bottom: 70px;
}

footer a {
	color: black;
}

footer a:hover {
	color: #c8c8c7;
	text-decoration: none;
}

/*////////// RESPONSIVE //////////*/

@media only screen and (max-width: 768px) {
	header img{
		width: 100px;
	}
	
	nav {
		text-align: center;
	}	

	nav a, nav a:first-child {
		padding: 20px 20px 0 20px;
	}
}

@media only screen and (max-width: 550px) {
	
	nav a, nav a:first-child {
		padding: 20px 10px 0 10px;
	}
}
@media only screen and (max-width: 460px) {
	
	nav a, nav a:first-child {
		padding: 10px 6px 0 6px;
		font-size: 1.1em;
	}
}

/*////
@media only screen and (max-width: 450px) {
	body {
		font-size: 95%;
	}
}