@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: white;
	margin: 0;
}

.responsive-media {
	width: 100%;
	max-width: 100%;
}

header {
	background-color: #c8c8c7;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
	padding-top: 20px;
	padding-bottom: 20px;
	text-decoration: none;
}

nav{
text-align: right;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 1.25em;
	letter-spacing: auto;
	font-weight: 300;
	/*width: 25%;*/
	display: inline-block;
	text-align: right;
	padding: 60px 0 0 35px;
}
nav a:first-child {
	padding: 60px 0 0 0;
}

nav a:hover {
	color: red;
	text-decoration: none;
}

footer a {
	color: black;
}

footer a:hover {
	color: #c8c8c7;
	text-decoration: none;
}

/*/////// SOCIAL ////////*/

#social {
  position: fixed;
  top: 163px;
  right: 20px;
  width: 40px;
  z-index: 2;
}

#social a {
  display: block;
  width: 40px;
  height: 40px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

a.fbook, a.twit, a.gplus {
  background: url(../images/social-icons.png) no-repeat;
}

a.fbook { background-position: 0 0; }
a.fbook:hover { background-position: -40px 0; }
a.fbook:active { background-position: -80px 0; }

a.twit { background-position: 0 -40px; }
a.twit:hover { background-position: -40px -40px; }
a.twit:active { background-position: -80px -40px; }

a.gplus { background-position: 0 -80px; }
a.gplus:hover { background-position: -40px -80px; }
a.gplus:active { background-position: -80px -80px; }



/*////////// MAIN //////////*/

#main {
	margin-top: 150px;
	font-family: Droid Serif;
	font-size: 1.5em;
	padding-top: 20px;
	padding-bottom: 30px;
	image-width: 10%;
}

	

/*////////// FOOTER //////////*/

footer {
	margin: none;
  font-size: 0.8em;
  padding: 10px;
  padding-top: 30px;
  background: #eee;
  width: 100%;
  padding-bottom: 70px;
}

@media only screen and (max-width: 768px) {
	header img{
		width: 100px;
	}
	
	nav {
		text-align: center;
	}	

	nav a, nav a:first-child {
		padding: 20px 20px 0 20px;
	}
}

@media only screen and (max-width: 550px) {
	
	nav a, nav a:first-child {
		padding: 20px 10px 0 10px;
	}
}
@media only screen and (max-width: 460px) {
	
	nav a, nav a:first-child {
		padding: 10px 6px 0 6px;
		font-size: 1.1em;
	}
}

@media only screen and (max -with}
	body{
		font-size: 90%;
		}